# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Logs and local files
*.log
*.swp
.DS_Store

# PDF/Image outputs
*.jpg
*.jpeg
*.png
*.pdf

# VSCode settings
.vscode/